<div class="relative group" (click)="onImageClick()">
  <img
    [ngSrc]="image().src"
    [alt]="image().alt"
    width="400"
    height="300"
    class="w-full h-full rounded-xl z-10 transition-all duration-300 md:hover:scale-[1.02] shadow-lg dark:shadow-xl md:hover:shadow-2xl dark:md:hover:shadow-2xl object-cover"
  >

  <button
    (click)="onDeleteClick($event)"
    [class.opacity-100]="showDeleteButton()"
    [class.md:group-hover:opacity-100]="true"
    class="absolute top-2 right-2 z-20 p-2 bg-red-500 text-white rounded-full opacity-0 transition-opacity duration-300 hover:bg-red-600 hover:cursor-pointer shadow-md"
    aria-label="Delete Image"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
  </button>
</div>
